.cardsDiv {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    

}

.skillsTitle{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 3vh;
    padding-top: 10vh;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    

}

.card{
    border: 1px solid black;
    background-color: #e4f3f8; 
    margin: 1%;
    height: 8vh; 
    width: calc(33.33% - 2%); 
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    font-size: 1.7vh;
    border-radius: 9px;
}

.card:hover {
    transform: scale(1.05);
    height: 45vh;
}

.card h3{
    text-align: center;
    font-size: 2.3vh;
}